<h2>Animals</h2>

<div id="animal-wrapper">
<% @animals.each do |animal| %>
  <div class="animal">
  <p>Type: <%= animal.type %></p>
  <p>Owner: <%= animal.owner ? animal.owner.first_name : "None" %></p>
  </div>
  <hr>
<% end %>
</div>
