<!DOCTYPE html>
<html
<head>
  <title>Animal Shelter</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav id="menu">
    <li class="menu-item"><a href='/animals'>Animals</a></li>
    <li class="menu-item"><a href='/animals/new'>Adopt an animal</a></li>
    </nav>
    <h1 id="logo">Animal Shelter</h1>
    <%= yield %>
  </body>
  </html>
